body, html {
    background: #ecf7f9;
    background-image: url("../img/newslist_sxy/news_listbg.png");
    /*background-size: cover;*/
}
.content_sxy {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

/*左边*/

.left_content {
    width: 820px;
}

/*二级导航开始*/
.second_nav {
    width: 100%;
    height: 70px;
    padding-top: 32px;
    border-bottom: 1px dashed #d4e3e7;
    font-size: 16px;
    color: rgba(13, 65, 89, 0.65);
}

.second_nav i {
    font-style: normal;
    padding: 0 4px;
}

.second_nav a {
    font-size: 14px;
    color: rgba(13, 65, 89, 0.65);

}

.second_nav a.active {
    font-size: 14px;
    color: #0d4159;
}

/*二级导航结束*/
/*文章列表开始*/
/*文章分类开始*/
.article_cate {
    width: 820px;
    height: 80px;
    margin-top: 36px;
    background: #0d4159;
    display: flex;
    align-items: center;
}

.article_cate li {
    width: 20%;
    height: 80px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    position: relative;
}
.article_cate li a{
	color: #fff;
}

.article_cate li p {
    line-height: 80px;
}

.article_cate li.active {
    background: #5ab3ba;
}

.article_cate li.active span {
    opacity: 0;
}

.article_cate li span {
    font-size: 16px;
    color: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -13px;
}

.article_cate li:hover {
    background: #5ab3ba;
}

.article_cate li:hover span {
    opacity: 0;
}

/*文章分类结束*/
.article_list {
    width: 100%;
    display: none;
}
.on{
    display: block;
}
.article_list li {
    width: 100%;
    padding: 36px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d1e1e6;
}

.article_list li .article_img {
    width: 207px;
    height: 136px;
    overflow: hidden;
}

.article_list li .article_img img {
    width: 207px;
    display: block;
}

.article_list li .art_detail {
    width: 590px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article_list li .art_detail .art_title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.art_title .news_title {
    font-size: 20px;
    color: #0d4159;
}

.art_title .news_time {
    font-size: 14px;
    color: #0d4159;
}

.art_detail .news_detail {
    width: 590px;
    height: 55px;
    font-size: 16px;
    color: rgba(13, 65, 89, 0.67);
    line-height: 30px;
    /*display: -webkit-box;*/
    /*-webkit-box-orient: vertical;*/
    /*-webkit-line-clamp: 2;*/
    overflow: hidden;
    position: relative;
}
.art_detail .news_detail::after {
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 30px;
    background: -webkit-linear-gradient(left, transparent, #ecf7f9 60%);
    background: -o-linear-gradient(right, transparent, #ecf7f9 60%);
    background: -moz-linear-gradient(right, transparent, #ecf7f9 60%);
    background: linear-gradient(to right, transparent, #ecf7f9 60%);
}
.news_bot {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.news_push {
    display: flex;
    align-items: flex-end;
}

.news_push i {
    font-size: 12px;
    color: rgba(13, 65, 89, 0.43);
    line-height: 24px;
    padding: 0 24px;
}

.news_push p {
    font-size: 14px;
    color: rgba(13, 65, 89, 0.43);
}

.news_bot .check_details {
    width: 92px;
    height: 31px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 31px;
    background: #5ab3ba;
    border-radius: 5px;
}

.article_list li:hover .check_details {
    background: #0d4159;
}

/*分页*/
.pagination {
    width: 690px;
    margin: 0 auto;
    margin-top: 70px;
}

.pagination ul {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.pagination ul li.page_ {
    width: 98px;
    height: 40px;
    background: #5ab3ba;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.pagination ul li.page {
    margin-top: 2.5px;
    color: #0d4159;
    font-size: 18px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-family: 'Helvetica';
    cursor: pointer;
}

.pagination ul li.active {
    background: #0d4159;
    color: #fff;
    -moz-box-shadow: 0 3px 14px #91b2b6;
    -webkit-box-shadow: 0 3px 14px #91b2b6;
    box-shadow: 0 3px 14px #91b2b6;
}

.pagination ul li.page:hover {
    background: #0d4159;
    color: #fff;
}

.pagination ul li.page_:hover {
    background: #0d4159;
    color: #fff;
}

/*文章列表结束*/
/*右边*/
.right_content {
    width: 340px;
    margin-top: 105px;
}

.right_content .top_img {
    width: 340px;
    height: 240px;
    overflow: hidden;
}

.right_content .top_img img {
    width: 340px;
}

.weixin_account {
    margin-top: 26px;
    width: 340px;
    height: auto;
    background-color: #0d4159;
    border-radius: 5px;
    overflow: hidden;
    background-image: url("../img/newslist_sxy/right_03.png");
}

.weixin_orange {
    width: 340px;
    height: 6px;
    background-color: #20b0bd;
}

.weixin_title {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 0 24px;
}

.weixin_title p {
    width: 4px;
    height: 17px;
    background-color: #20b0bd;
    border-radius: 2px;
}

.weixin_title h1 {
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    margin-left: 10px;
}

.weixin_list {
    padding: 0 24px;
}

.weixin_list li {
    margin-top: 18px;
    border-bottom: 1px solid #11597b;
}

.weixin_list .list_top {
    display: flex;
    justify-content: space-between;
}

.weixin_list .list_top .wei_img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    overflow: hidden;
}

.weixin_list .list_top .wei_img img {
    width: 60px;
}

.weixin_list .list_top .list_text {
    width: 212px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weixin_list .list_top .list_text a {
    font-size: 14px;
    color: #fff;
    width: 200px;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.weixin_list .list_top .list_text p {
    width: 208px;
    height: 36px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 12px;
    color: #ecf7f9;
    position: relative;
}
.weixin_list .list_top .list_text p::after {
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 30px;
    background: -webkit-linear-gradient(left, transparent, #0d4159 60%);
    background: -o-linear-gradient(right, transparent, #0d4159 60%);
    background: -moz-linear-gradient(right, transparent, #0d4159 60%);
    background: linear-gradient(to right, transparent, #0d4159 60%);
}
.list_bottom {
    font-size: 12px;
    color: #ecf7f9;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.list_bottom p {
    color: rgba(236, 247, 249, 0.71);
}
