<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".ipa" mimeType="application/iphone" />
        </staticContent>
        <caching enabled="true" enableKernelCache="true" />
    </system.webServer>
</configuration>
