.detailBox_qty{
	width: 100%;
	height: auto;
	float: left;
	background: #F8F8F8;
	font-size: 18px;
}
.detailSmallBox_qty{
	width: 1200px;
	height: auto;
	margin: auto;
}
.detailHome_qty{
	width: 100%;
	float: left;
	padding: 5px 0px;
	font-size: 14px;
}
.homeFont{
	color: #9CC813;
}
.homeFont span{
	color: #AEAEAE;
}
.healthBox_qty{
	width: 100%;
	float: left;
	margin-top: 15px;
}
.healthImgBox_qty{
	float: left;
}
.healthRightBox_qty{
	float: left;
	margin-left: 10px;
}
.healthTopFont_qty{
	color: #9CC813;
	line-height: 24px;
	font-size: 18px;
}
.healthTopFont_qty span,.healthBottomFont_qty span{
	color: #AEAEAE;
}
.healthBottomFont_qty{
	color: #F69C1C;
	font-weight: bold;
	font-size: 18px;
}
.healthDis_qty{
	width: 100%;
	float: left;
	margin-top: 20px;
}
.healthDis_qty ul{
	width: 100%;
	float: left;
}
.healthDis_qty ul li{
	float: left;
	position: relative;
	padding: 5px 60px;
	cursor: pointer;
	color: #AFAFAF;
}
.healthDis_qty ul li:after{
	content:"";
	position: absolute;
	right:0%;
	height: 15px;
	top:25%;
	border-right: 1px solid #AFAFAF;
}
.healthDis_qty ul li:last-child:after{
	border-right: none;
}
.healthDis_qty ul li a{
	color: #AFAFAF;
}
.color_qty a{
	color: #fff !important;
	border-radius: 4px;
	background: #F69C1C;
	padding: 2px 4px;
}
.healthBannerBox_qty{
	width:100%;
	height: 430px;
	margin-top: 30px;
	float: left;
	overflow: hidden;
}
.healthBanner_qty{
	width: 100%;
	height: 430px;
	float: left;
}
.healthBannerLeft_qty{
	width: 516px;
	float: left;
}
.healthBanner_qty img{
	width: 100%;
}
.healthBannerRight_qty{
	width: 658px;
	float: left;
	margin-left: 26px;
}
.healthRightSmall_qty{
	width: 100%;
	float: left;
	margin-top: 15px;
	cursor: pointer;
}
.healthSmall_qty{
	float: left;
	line-height: 2;
}
.healthRightSmall_qty:hover{
	background: #FFFFFF;
	box-shadow: -5px 4px 8px #EBEBEA;
}
/*.boxShadow{*/
	/*background: #FFFFFF;*/
	/*box-shadow: -5px 4px 8px #EBEBEA;*/
/*}*/
.healthRightSmall_qty h4{
	float: left;
	font-size: 18px;
	color: #6B6B6B;
	font-weight: bold;
}
.healthRightSmall_qty h4 span{
	color: #9CC813;
	float: left;
	margin-left: 10px;
}
.time_qty{
	float: left;
	margin-left: 10px;
	font-size: 12px;
	margin-top:8px;
	color: #B5B5B5;
}
.healthBottomSmall_qty{
	width: 590px;
	float: left;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 24px;
	color: #848484;
}
.jiantouBox_qty{
	width: 100%;
	float: left;
}
.jiantouBox_qty span{
	float: right;
	margin-right: 45px;
	color: #F69C1C;
	font-size: 18px;
	font-weight: bolder;
}
.jiantouBox_qty a {
    float: right;
}
.moreBox{
	width: 100%;
	height: 28px;
	float: left;
	margin-top: 20px;
}
.moreBox a{
	width: 94px;
	line-height: 28px;
	text-align: center;
	display: block;
	background: #F69C1C;
	color: #fff;
	margin: auto;
	border-radius: 20px;
	box-shadow: -3px 5px 5px #F0D0C0;
	margin-top: -12px;
}
.hotBigBox_qty{
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
.hotSmallBox_qty{
	width: 400px;
	height: 336px;
	float: left;
	margin-top: 10px;
	cursor: pointer;
	border: 1px solid #F8F8F8;
	box-sizing: border-box;
}
.hotSmallBox_qty a{
	width: 100%;
	height: 100%;
	display: block;
}
.hotSmallBox_qty:hover{
	border: 1px solid #c8c8c8;
}
.hotSmall_qty{
	width: 330px;
	height: 100%;
	margin: auto;
}
.hotTopFontBox_qty{
	width: 100%;
	float: left;
	font-size: 14px;
	line-height: 3;
	color: #ABABAB;
}
.bTime_qty{
	float: left;
}
.bFont_qty{
	float: right;
}
.hotImgBox_qty{
	width: 100%;
	float: left;
}
.hotImgBox_qty img{
	width: 100%;
}
.hotFont_qty{
	width: 100%;
	float: left;
	font-size: 16px;
	color: #636363;
	line-height: 3;
}
.hotFontCenter_qty{
	width: 100%;
	font-size: 14px;
	color: #898989;
}
.rItBox_qty{
	width: 100%;
	height: 18px;
	float: left;
	line-height: 3;
}
.rItBox_qty div{
	display: block;
	color: #F69C1C;
	font-size: 18px;
	font-weight: bolder;
}

