.healthListBox_qty{
	width: 100%;
	height: auto;
	float: left;
	background: #F8F8F8;
}
.healthListSmallBox_qty{
	width: 1200px;
	height: auto;
	margin: auto;
}
.detailHome_qty{
	width: 100%;
	float: left;
	padding: 5px 0px;
	font-size: 14px;
}
.homeFont{
	color: #9CC813;
}
.homeFont span{
	color: #AEAEAE;
}
.healthVideoBox_qty{
	width: 100%;
	float: left;
	margin-top: 15px;
}
.healthVideoLeft_qty{
	width: 200px;
	
	float: left;
	background: #FFFFFF;
	border-radius: 5px;
	padding-bottom: 20px
}
.videoFont_qty{
	width: 100%;
	line-height: 40px;
	text-align: center;
	float: left;
	background: #9CC813;
	color: #FFFFFF;
	border-radius: 5px 5px 0px 0px;
}
.videoBottom_qty{
	width: 182px;
	float: left;
	margin-left: 9px;
}
.healthBox_qty{
	width: 100%;
	float: left;
	margin-top: 20px;
}
.healthbanner_qty_qty{
	float: left;
}
.healthImgBox_qty{
	float: left;
}
.healthRightBox_qty{
	float: left;
	margin-left: 10px;
	letter-spacing: 1px;
}
.healthTopFont_qty{
	color: #9CC813;
	line-height: 24px;
	font-size: 18px;
}
.healthTopFont_qty span,.healthBottomFont_qty span{
	color: #AEAEAE;
}
.healthBottomFont_qty{
	color: #F69C1C;
	font-size: 18px;
}
.videoUl_qty{
	width: 100%;
	float: left;
	margin-top: 15px;
}
.videoUl_qty ul{
	width: 100%;
	float: left;
}
.videoUl_qty ul li{
	width: 84px;
	height: 20px;
	background: #B4B4B4;
	float: left;
	margin-left: 14px;
	margin-top: 5px;
	border-radius: 4px;
}
.videoUl_qty ul li:nth-child(1),.videoUl_qty ul li:nth-child(3){
	margin-left: 0;
}
.videoUl_qty ul li:nth-child(1),.videoUl_qty ul li:nth-child(2){
	margin-top: 0;
}
.videoUl_qty ul li:last-child{
	background: #F69C1C;
}
.videoUl_qty ul li a{
	width: 100%;
	height: 100%;
	display: block;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
}
.healthVideoRight_qty{
	width: 964px;
	float: left;
	margin-left: 36px;
	margin-bottom: 20px;
}
.healthVideoRight_qty ul{
	width: 100%;
	float: left;
}
.healthVideoRight_qty ul li{
	width: 226px;
	height: 164px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
}
.healthVideoRight_qty ul li:nth-child(1),.healthVideoRight_qty ul li:nth-child(5),.healthVideoRight_qty ul li:nth-child(9){
	margin-left: 0;
}
.healthVideoRight_qty ul li:nth-child(1),.healthVideoRight_qty ul li:nth-child(2),.healthVideoRight_qty ul li:nth-child(3),.healthVideoRight_qty ul li:nth-child(4){
	margin-top: 0;
}
.healthVideoS_qty{
	width: 100%;
	height: 164px;
	float: left;
	border-radius: 6px 6px 0px 0px;
}
.healthVideoS_qty a{
	width: 100%;
	height: 100%;
	float: left;
	display: block;
}
.healthVideoS_qty a img{
	width: 100%;
	height: 100%;
	float: left;
}
.healthVideoSmallBottom_qty{
	width: 100%;
	height: 40px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	float: left;
	background: rgba(0,0,0,0.5);
	border-radius: 0px 0px 6px 6px ;
	cursor: pointer;
}
.videoSmall_qty{
	width: 200px;
	height: 100%;
	float: left;
	margin-left: 13px;
}
.videoSmall_qty span{
	line-height: 40px;
	font-size: 14px;
	color: #fff;
	text-align: left;
	float: left;
}
.videoSmall_qty div{
	float: right;
}
.videoSmall_qty div img{
	width: 20px;
	height: 12px;
	float: left;
	margin-top: 13px;
	margin-right: 5px;
}
.more_qty{
	width: 100%;
	float: left;
	text-align: center;
	padding-bottom: 30px;
	margin-top: 30px;
}
.more_qty a{
	width: 94px;
	height: 28px;
	line-height: 28px;
	display: block;
	background: #F69C1C;
	color: #FFFFFF;
	font-size: 12px;
	border-radius: 15px;
	text-align: center;
	margin: auto;
}
