/*导航选中*/

.head_list_zn .dyw_list p:nth-child(2) a{
    color: #F5B55C;
}
body{
    background-color: #e9d9bf;
}
/*轮播图*/
#banner{
    width: 100%;
    height: 539px;
    position: relative;
    -moz-box-shadow: -1px -1px 8px #9E9E9E;
    -webkit-box-shadow: -1px -1px 8px #9E9E9E;
    box-shadow: -1px -1px 8px #9E9E9E;
}
#banner .pic{
    width: 100%;
    height: 539px;
}
#banner .pic li{
    width: 100%;
    height: 539px;
    position: absolute;
    left:0;
    top:0;
    display: none;
}
#banner .pic li img{
    width: 100%;
    height: 539px;
}
#banner #position{
    width: 100px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left:50%;
    bottom: 24px;
    margin-left: -50px;
}
#banner #position li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #69443e;
}
#banner #position li.cur{
    width:40px;
    height: 15px;
    border-radius: 7.5px;
    border: 1px solid #69443e;
}
#banner .banner_arrow{
    width: 1200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: absolute;
    top:50%;
    margin-top: -20px;
    left:50%;
    margin-left: -600px;
}
#banner .banner_arrow .arrow{
    width: 40px;
    height: 40px;
}
#banner .banner_arrow .arrow .arrow_yellow{
    display: none;
}
#banner .banner_arrow .arrow:hover .arrow_yellow{
    display: block;
}
#banner .banner_arrow .arrow:hover .arrow_white{
    display: none;
}
/*底部*/
#foot_zn{
    background-color: #69443e;
}
.foot_title_zn{
    color: #e9d9bf;
    border-bottom: 2px solid  #907165;
}
.foot_list_zn a{
    color: #e9d9bf;
}
.foot_partling_zn{
    background-color: #907165;
}
.friendship_zn{
    color: #e9d9bf;
}
.friendship_zn a{
    color: #e9d9bf;
}
.parting_span{
    color: #c0c0c0;
}
.foot_end_zn{
    color: #a7877b;
}

.tel_zn{
    color: #e9d9bf;
}
/*四块介绍*/
#dyz_introduce{
    width: 1200px;
    margin:  0 auto;
}
.dyz_introduce_list{
    width: 983px;
    display: flex;
    justify-content: space-between;
    margin: 46px auto;
}
.dyz_introduce_list li{
    width: 224px;
    height: 144px;
    background-image: url("../../../images/special/dyz_index_sxy/dyz_index_01.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dyz_introduce_list li div{
    display: flex;
    align-items: center;
    width: 116px;
    justify-content: space-between;
}
.dyz_introduce_list li div img{
    width: 50px;
    height: 50px;
}
.dyz_introduce_list li div h1{
    color: #e9d9bf;
    font-size: 14px;
}
.dyz_introduce_list li  p{
    font-size: 12px;
    color: #e9d9bf;
    margin-top: 8px;
}
/*视频专区*/
#dyz_video{
    width: 983px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.video_area{
    display: flex;
    margin-top: 38px;
}
.video_area .video_play {
    width: 700px;
    height: 432px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-image: url(../image/image_zn/bg_play_03.png);
    display: flex;
    align-items: center;
    justify-content: center;
}
.video_area .video_play .play_button {
    cursor: pointer;
}
.video_area .video_list {
    width: 283px;
    height: 432px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-image: url(../../../images/special/dyz_index_sxy/dyz_index_video_03.png);
    position: relative;
    padding-top: 66px;
    padding-bottom: 56px;
    box-sizing: border-box;
}
.video_list .video_arrow .top, .video_list .video_arrow .bottom {
    position: absolute;
    left: 50%;
    margin-left: -10px;
}
.video_list .video_arrow img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.video_list .video_arrow .top {
    top: 10px;
}
.video_list .video_arrow .bottom {
    bottom: 6px;
}
.video_box {
    width: 100%;
    height: 312px;
    position: relative;
    overflow: hidden;
}

/*视频列表*/
.video_list .video_lists {
    padding-left: 46px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

.video_list .video_lists li {
    width: 100%;
    height: 68px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.video_list .video_lists li .video_img {
    position: relative;
    width: 117px;
    height: 68px;
    border-radius: 5px;
    overflow: hidden;
}

.video_list .video_lists li .video_img .shade {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.36);
    width: 117px;
    height: 68px;
    border-radius: 5px;
    z-index: 8;
    display: none;
}

.video_list .video_lists li p {
    font-size: 14px;
    margin-left: 8px;
    color: #fff;
}

.video_list .video_lists li p.active {
    color: #e9d9bf;
}

.video_list .video_lists .button_play {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/*公司简介*/
#company_profile{
    width: 1920px;
    height: 680px;
    background-image: url("../../../images/special/dyz_index_sxy/dyz_company_bg_03.png");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding-top: 44px;
}
.dyz_company{
    width: 100%;
    margin-top: 44px;
    display: flex;
}
.dyz_company .company_img{
    width: 940px;
    height: 370px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-right: 36px;
    z-index: 99;
}
.dyz_company .company_img img{
    width: 100%;
}
.company_introduce{
    width: 476px;
    text-align: left;
    position: relative;
}
.company_introduce .com_intro_title{
    width: 1307px;
    height: 144px;
    position: absolute;
    top:-8px;
    right:-451px;
}
.company_title{
    position: absolute;
    top:10px;
    left:0;
}
.company_introduce h1{
    font-size: 18px;
    color: #69443e;
    font-weight: normal;
    margin-top: 50px;
    z-index: 999;
}
.company_introduce h2{
    font-size: 16px;
    color: #907165;
    font-weight: normal;
    letter-spacing: 3px;
    margin-top: 2px;
}
.company_introduce p{
    font-size: 14px;
    color: #e9d9bf;
    font-weight: lighter;
    margin-bottom: 24px;
    text-align: justify;
}
.company_content{
    margin-top: 210px;
}
/*关于总部*/
#about_head{
    width: 983px;
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}
.about_instrouce{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about_instrouce li{
    width: 480px;
    height: 130px;
    margin-bottom: 26px;
    background-image: url("../image/dyz_index_sxy/dyz_index_about_03.png");
}
.about_instrouce li a{
    display: flex;
    align-items: center;
    padding-top: 28px;
    height: 112px;
    overflow: hidden;
}
.about_instrouce li a .about_title{
    margin-left: 26px;
}
.about_instrouce li a .about_title img{
    width: 62px;
    height: 36px;
}
.about_instrouce li a .about_title h1{
    font-size: 16px;
    color: #69443e;
    font-weight: 600;
}
.about_instrouce li a .about_line{
    width: 1px;
    height: 46px;
    border-right: 1px dashed #907165;
    margin: 0 22px;
}
.about_instrouce li a .about_content{
    width: 316px;
    color: #69443e;
    font-size: 14px;
    text-align: left;
}
/*荣誉资质*/
#dyz_honor{
    width: 100%;
    height: 556px;
    background-color: #69443e;
    text-align: center;
    padding-top: 50px;
}
.honor_img{
    margin: 0 auto;
    width: 983px;
    height: 320px;
    padding: 0 24px;
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../../../images/special/dyz_index_sxy/dyz_index_honor_03.png");
}
.honor_img li{
    width: 214px;
    height: 264px;
    background-color: #e9d9bf;
    border-radius: 5px;
    overflow: hidden;
}
.honor_img li img{
    width: 100%;
}
/*康复案例*/
#case_sharing{
    width: 100%;
    height: 754px;
    background-image: url("../../../images/special/dyz_index_sxy/dyz_index_case_02.png");
    text-align: center;
    padding-top: 54px;
}
.case_img{
    width: 983px;
    height: 456px;
    margin: 0 auto;
    padding:39px 27.5px;
    margin-top: 70px;
    background-image: url("../image/dyz_index_sxy/dyz_index_case_03.png");
}
.case_img_box{
    width: 928px;
    height: 378px;
    overflow: hidden;
    position: relative;
}
.case_img_box .sharing_img{
    width: 928px;
    height: 378px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left:0;
    top:0;
    opacity:0;
}
.case_img_box .sharing_img.on{
    opacity: 1;
}
.case_img_box .sharing_img div{
    width: 306px;
    height: 378px;
    background-color: #fff;
    border-radius: 5px;
}
/*换一批*/
.change_case{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
    cursor: pointer;
}
.change_case img{
    width: 28px;
    height: 28px;
    margin-left: 18px;
}
.change_case p{
    font-size: 20px;
    color: #69443e;
    margin-left: 10px;
}
/*店面展示*/
#show_shop{
    width: 100%;
    height: 666px;
    text-align: center;
    padding-top: 44px;
    background-image: url("../../../images/special/dyz_index_sxy/dyz_index__shop_02.png");
}
#show_shop .shop_img{
    width: 983px;
    height: 406px;
    margin: 0 auto;
    margin-top: 47px;
    background-image: url("../../../images/special/dyz_index_sxy/dyz_index_shop_03.png");
    display: flex;
    justify-content: center;
    align-items: center;
}
#show_shop .shop_img_box{
    width: 952px;
    height: 354px;
    position: relative;
    overflow: hidden;
}
#show_shop .show_img{
    width: 952px;
    height: 354px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left:0;
    top:0;
    opacity: 0;
}
#show_shop .show_img.on{
    opacity: 1;
}
#show_shop .show_img div.shop_big{
    width: 241px;
    height: 297px;
    border-radius: 5px;
    background-color: seashell;
    overflow: hidden;
}
#show_shop .show_img div.shop_small{
    width: 223px;
    height: 274px;
    border-radius: 5px;
    background-color: papayawhip;
    overflow: hidden;
}
#show_shop .show_img div:first-child{
    margin-top: 26px;
}
#show_shop .show_img div:nth-child(2){
    margin-top: 78px;
}
#show_shop .show_img div:last-child{
    margin-top: 26px;
}
#show_shop .change_shop{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    cursor: pointer;
}
#show_shop .change_shop img{
    width: 28px;
    height: 28px;
    margin-left: 18px;
}
#show_shop .change_shop p{
    font-size: 20px;
    color: #e9d9bf;
    margin-left: 10px;
    margin-right: 8px;
}
/*招商加盟*/
#dyz_merchants{
    width: 100%;
    text-align: center;
    padding-top: 36px;
}
#dyz_merchants .dyz_merchants_box{
    width: 1036px;
    height: 400px;
    margin: 0 auto;
    background-image: url("../../../images/special/dyz_index_sxy/dyz_merchants_03.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dyz_merchants .merchants{
    width: 983px;
    height: 354px;
    margin: auto;
    overflow: hidden;
    border-radius: 5px;
}
#dyz_merchants .merchants ul{
    width: 983px;
    height: 100%;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}
#dyz_merchants .merchants ul li{
    width: 417px;
    height: 354px;
    border-right: 1px solid #e9d9bf;
    box-sizing: border-box;
    cursor: pointer;
    transition: width 0.5s ease;
    background: #e9eef6;
}
#dyz_merchants .merchants ul li:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#dyz_merchants .merchants ul li img{
    width: 417px;
}
#dyz_merchants .merchants ul li.hidden{
    width: 141px;
    overflow: hidden;
}