body,html{
    background: #f9f9f9;
}
.title_box_zn{
    width:100%;
    height:0.9rem;
    overflow: hidden;
}
.logo_box{
    padding-left:0.2rem;
    width:0.9rem;
    height:0.9rem;
    float:left;
    box-sizing: border-box;
}
.logo_box a{
    color:#333;
    font-size:0.28rem;
    display: block;
    height:0.4rem;
    line-height:0.4rem;
    width:100%;
    font-weight:bold;
    margin-top:0.25rem;
    border-right:0.01rem solid #e5e5e5;
}
.title_teacher_box{
    margin-left:0.15rem;
    width:5.1rem;
    height:0.9rem;
    float:left;
}
.title_teacher_list{
    height:0.9rem;
    line-height:0.9rem;
    margin-right:0.11rem;
    box-sizing: border-box;
    float:left;
}
.title_teacher_list:last-child{
    margin-right:0;
}
.title_teacher_list a{
   
    font-size:0.28rem;
    height:100%;
    width:100%;
    color:#999;
    border-bottom:0.02rem solid transparent;
    box-sizing: border-box;
} 

.title_teacher_list:first-child a{
   
    font-size:0.28rem;
    height:100%;
   
    box-sizing: border-box;
    
} 
.title_teacher_list:first-child .color_zn{
	color:#f69c1c !important;
	border-bottom:0.03rem solid #f69c1c !important;
}
.color_zn{
	color:#f69c1c !important;
	border-bottom:0.03rem solid #f69c1c !important;
}
/*标题头部统一样式*/
.teacher_title_zn{
    width:6rem;
    height:0.6rem;
    margin:0 auto;
    margin-top:0.15rem;
    overflow: hidden;
}
.teacher_zn{
    float:left;
    width:4.9rem;
    height:0.6rem;
    overflow: hidden;
}
.teacher_zn i{
    margin-top:0.06rem;
    width:0.02rem;
    height:0.45rem;
    float:left;
    margin-right:0.12rem;
    background:url('../images/title_linear.png') no-repeat;
    background-size:cover;

}
.intro_duce_zn{
    float:left;
}
.top_title_zn{
    height:0.3rem;
    margin-bottom:0.03rem;
}
.title_left_zn{
    height:0.3rem;
    width:auto;
    float:left;
    line-height:0.3rem;
    font-size:0.24rem;
    color:#cae281;
    font-weight:bold;
    letter-spacing: 0.02rem;
}
.title_right_zn{
    height:0.3rem;
    width:auto;
    float:left;
    font-weight:bold;
    line-height:0.3rem;
    font-size:0.24rem;
    color:#959595;
    letter-spacing: 0.02rem;
}
.bottom_title_zn{
    height:0.24rem;
    line-height:0.24rem;
}
.title_left_zn_bottom{
    height:0.24rem;
    width:auto;
    float:left;
    font-weight:bold;
    line-height:0.24rem;
    font-size:0.14rem;
    color:#f69c1c;
}
.title_right_zn_bottom{
    height:0.24rem;
    width:auto;
    float:left;
    font-weight:bold;
    line-height:0.24rem;
    font-size:0.14rem;
    color:#a7a7a7;
}
/*新闻标题列表*/
.health_box_zn{
    background: #fff;
    width:100%;
    height:auto;
    padding-bottom:2rem;
    overflow: hidden;
}
.ul_box_zn{
    width:6rem;
    height:15.2rem;
    box-sizing: border-box;
    border:0.01rem solid #dcdcdc;
    border-bottom: none;
    margin:0 auto;
    margin-top:0.1rem;
    overflow: hidden;
}
.health_news_box{
    width:6rem;
    height:auto;
    overflow: auto;
    border:0.01rem solid #dcdcdc;
    border-bottom: none;
    margin:0 auto;
    margin-top:0.1rem;
}
.health_news_list{
    width:100%;
    height:3.8rem;
    box-sizing: border-box;
    border-bottom: 0.01rem solid #dcdcdc;
}
.health_news_list>a{
    width:5.6rem;
    height:100%;
    margin:0 auto;
    box-sizing: border-box;
    display: block;
}
.health_news_list img{
    width:5.6rem;
    height:1.68rem;
    margin-top:0.3rem;
}
.health_title_zn{
    height:0.6rem;
    width:100%;
    line-height:0.6rem;
    overflow: hidden;
    margin-top:0.1rem;
}
.news_left_zn{
    float:left;
    height:0.6rem;
    width:auto;
    line-height:0.6rem;
    font-size:0.28rem;
    color:#333;
}
.news_right_zn{
    float:right;
    font-size:0.18rem;
    height:0.6rem;
    line-height:0.6rem;
    color:#999;
}
.news_con_zn{
    width:100%;
    height:0.9rem;
    overflow: hidden;
    line-height:0.35rem;
    box-sizing: border-box;
    font-size:0.24rem;
    color:#999;
    letter-spacing: 0.02rem;
}